* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}



/* common */

.f-Poppins {
    font-family: 'Poppins', sans-serif;
}

.f-OpenSans {
    font-family: 'Open Sans', sans-serif;
}

.f-Volkhov {
    font-family: 'Volkhov', serif;

}

.font-cl {
    color: #5E6282;
}


.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px !important;
}

.fs-21 {
    font-size: 21px !important;
}

.fs-44 {
    font-size: 44px;
}

.fs-50 {
    font-size: 50px !important;
}

.fs-80 {
    font-size: 80px !important;
}

.fs-84 {
    font-size: 84px !important;
}

.h-80 {
    height: 80px !important;
}

.mt-60 {
    margin-top: 60px !important;
}

.mt-68 {
    margin-top: 68px !important;
}

.mt-105 {
    margin-top: 105px !important;
}

.pt-80 {
    padding-top: 80px !important;
}

.pt-105 {
    padding-top: 105px !important;
}

.px-200 {
    padding-left: 200px;
    padding-right: 200px;

}

.py-80 {
    padding-top: 80px;
    padding-bottom: 80px;

}


.w-80 {
    width: 80px !important;
}

.testimonials__sub--heading,
.booktrip__sub-heading,
.destinations__sub-heading,
.service__sub-heading {
    color: #5E6282;
    font-size: 18px;
}

.testimonials__heading,
.booktrip__heading,
.service__heading,
.destinations__heading {    
    margin-top: 4px;
    color: #14183E;
    font-family: 'Volkhov', serif;
    font-size: 50px;
}

.destinations__text--time {
    color: #5E6282;
    font-size: 16px;
}

.row + .row {
    margin-top: 48px;

}

.btn + .btn {
    /* margin-top: 16px; */
}


@media (max-width: 739px) {
    .hero__heading{
        font-size: 44px;
    }

    .subcribe__heading {
        font-size: 12px !important;
    }
}

@media (min-width: 740px) and (max-width: 1024px) {
    .hero__heading{
        font-size: 54px;
    }

    .subcribe__heading {
        font-size: 20px !important;
    }
}

@media (min-width: 1025px) {
    .hero__heading{
        font-size: 84px;
    }

    .subcribe__heading {
        font-size: 33px !important;
    }
}




/* hero */


.hero {
    position: relative;
}

.hero__img--bg{    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    
    width: 100%;
    height: 700px;
    z-index: -1;
    
}

.hero__item--content {
    
}

.hero__sub-heading {
    color:#DF6951;
    font-size: 20px;
}

.hero__heading {
    color:#181E4B;
    position: relative;
    font-family: 'Volkhov', serif;

}



.hero__img--underline {
    position: absolute;
    top: 90px; 
    right: -80px;
    z-index: -1;
}

.hero .bi-play-circle-fill {
    color: #DF6951;
    margin-right: 20px;
    border-radius: 30px;
}



/* service */





.service .card {
    width: 250px;
    height: 300px;
}

.service__item {
    position: relative;
}

.service__item:hover {
    transform: scale(1.2);  
}

.service__img--red {
    width: 80px;
    height: 80px;
    position: absolute;
    display: none;
    left: -20px;
    bottom: -20px;
    z-index: -1;
}

.service__item:hover .service__img--red  {
    display: block;    
}

.service__item:hover .card {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    
}

.service__img-bg {
    position: absolute;
    top: 105;
    right: -80px;
}

/* destination */

.destinations {
   

}

.destinations-item {
    border-radius: 30px;
}

.destinations-img-italy {
    background: url(../img/destinations/italy.png) center/ cover no-repeat;
    height: 480px;

}



.destinations-img-london {
    background: url(../img/destinations/london.png) center/ cover no-repeat;
    height: 480px;
}

.destinations-img-europe {
    background: url(../img/destinations/europe.png) center/ cover no-repeat;
    height: 480px;
}


.destinations-item-info {
    background-color: #fff;    
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0 0 25px 25px;

}

.destinations .destinations-desktop {
    width: 100px;
    height: 250px;
    position: absolute;
    right: 100px;
    bottom: 0;
    z-index: -100;
}

/* booktrip */
.booktrip {
}

.booktrip__img--icon {
    width: 50px;
    height: 50px;
    padding: 0 !important;
}

.booktrip__text {
    color: #5E6282;
    
}

/* testimonials */

.testimonials {
    /* height: 1000px; */
}

.testimonials-item {
    height: 300px;
}

.btn-indicators {
    position: absolute;
    top: 20%;
    right: 0;
    z-index: 1  ;
}

/* subcribe */

.subcribe {

}

.subcribe__bg {
    background-color: #f8f6fe;
    border-radius: 100px 10px 10px;
    border:none;
    padding: 80px 150px;
}

.subcribe .subcribe__heading {
    color: #5E6282;

}

.subcribe__form {
    margin: 70px auto 0;
}

.subcribe__form .form-control {
}

.subcribe__input--icon {
    background-color: transparent;
}

.subcribe .subcribe__input--email {
    width: 75% !important;
}

.subcribe__img--vector {
    top: -30px;
    right: -30px;
}

.subcribe__img--bg {
    position: absolute;
    right: -40px;
    bottom: -100px;
    z-index: -1;
}

/* footer */

.footer {
}

.footer__brand {
    font-size: 44px;
    color: #181E4B;
}

.footer__brand--content {
    font-size: 13px;
    color: #5E6282;

}

.footer__about {
    font-size: 21px;
}

.footer__desc {
    font-size: 18px;
    color: #5E6282;
    margin-top: 35px;
}

.footer__content--app {
    font-size: 20px;
    color: #5E6282;

}

.footer__content--end {
    font-size: 14px;
    color: #5E6282;
    text-align: center !important;
    margin-top: 70px;
}

.footer ul {
    list-style-type: none;
}





